$primary: #4c7aa7 !default;
$secondary: #969ba1 !default;
$success: #4c9f6a !default;
$info: #251a24 !default;
$warning: #c98f32 !default;
$danger: #f44336 !default;
$light: #fcfbf2 !default;
$dark: #251a24 !default;
